<h1>Your summary of current spend</h1>

<p>Your Wallet: £<%= @wallet.budget %></p>

<p>To date you have spent: £<%= @total %></p>
<br>
<p>You have £<%= @wallet.budget.to_i - @total.to_f %> left in your wallet,
  so take it easy!</p>


  <img src="/images/money.png" alt="Wallet" width="460" height="345">
<footer>
<p>
Email Dad:
<a href="mailto:kristopher_anderson@icloud.com?Subject=Money%20request" target="_top">Send Mail</a>
</p>
</footer>
