<h1>Your summary of current spend</h1>
<aside>
<p>Your allowance is: <b>£<%= @wallet.budget %></p></b>

<p>To date you have spent: <b>£<%= @total %></p></b>
<br>
<p>You have <b>£<%= '%.2f' % (@wallet.budget.to_i - @total.to_f.round) %></b> left in your wallet,
  so take it easy!</p>

  <img src="/images/money.png" alt="Wallet" width="260" height="200">
</aside>
<footer>
<p>
Email Dad:
<a href="mailto:kristopher_anderson@icloud.com?Subject=Money%20request" target="_top">Send Mail</a>
</p>
</footer>
