<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Budget Tracker</title>

<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
  </head>

  <header>
    <div class="header-image">

    <img src="/images/header.jpg" alt="Wallet" id="header-image">
  </div>

  </header>
  <body>
      <nav>
        <ul>
          <li>
            <a href="/transactions">View Transactions</a>
            <li>
              <a href="/transactions/new">Create New Transaction</a>
          </li>
          <li>
            <a href="/vendors">View Vendors</a>
          </li>
          <li>
            <a href="/vendors/new">Create New Vendor</a>
          </li>
          <li>
            <a href="/categories">View Categories</a>
          </li>
          <li>
            <a href="/categories/new">Create New Category</a>
          </li>
          <li>
            <a href="/">Summary</a>
          </li>
        </ul>
      </nav>
      <main class ="flex flex--row">
<div id="container">

  <div>
      <br>
      <section id="content">
      <%= yield %>
      </section>
    </main>
    <footer>
      <br>
      <br>
      <a href="">Legal disclaimer</a>
      <br>
    </footer>
  </body>
</html>
