<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Budget Tracker</title>

<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">

  </head>
  <body>
    <main class ="flex flex--row">
      <nav>
        <ul>
          <li>
            <a href="/transactions">View Transactions</a>
            <li>
              <a href="/transactions/new">Create New Transaction</a>
          </li>
          <li>
            <a href="/vendors">View Vendors</a>
          </li>
          <li>
            <a href="/vendors/new">Create New Vendor</a>
          </li>
          <li>
            <a href="/categories">View Categories</a>
          </li>
          <li>
            <a href="/categories/new">Create New Category</a>
          </li>
          <li>
            <a href="/">Summary</a>
          </li>
        </ul>
      </nav>

      <br>
      <br>
      <br>
      <section id="content">
      <%= yield %>
      </section>
    </main>
    <footer>
      <br>
    </footer>
  </body>
</html>
