<h2>Vendor</h2>
<table id="categories-tables">
  <tr><td><strong>Name:</strong></th><th><strong>Total Spend:</strong></th></tr>
<% @vendor_name.each do |vendor| %>



<tr><td><%= vendor.vendor_name %></td>

<td>£<%= vendor.total_spend %></td>
<td><a href="/vendors/<%= vendor.id %>/edit">Edit Vendor:</a></td></tr>

<% end %>
  </table>
