<form action="/vendors" method="POST">

<label for="vendor-input">Name:</label>
<input id="vendor-input" type="text" name="vendor_name" placeholder="Enter vendor name">

<input class="btn btn--menu" type="submit" value="Create Vendor">
</form>
