<h2>All Tansactions</h2>
<table id="transactions-tables">
<tr><td>Vendor:</td><td>Category:</td><td>Amount:</td></tr>
<% @transactions.each do |transaction|  %>




<tr><td><%=transaction.vendor.vendor_name  %></td>
<td><%=transaction.category.category_name %></td>
 <td>£<%=transaction.amount %></td>

<td><a href="/transactions/<%= transaction.id %>/edit">Edit Transaction:</td></tr>




<% end %>
</table>
