<h2>All Tansactions</h2>
<% @transactions.each do |transaction|  %>

<p>Vendor: <%=transaction.vendor.vendor_name  %></p>
<p>Category: <%=transaction.category.category_name %></p>
<p>Amount: <%=transaction.amount %></p>

<p> <a href="/transactions/<%= transaction.id %>/edit">Edit Transaction:</a> </p>

<hr/>

<% end %>
