<h2>Category</h2>
<table id="categories-tables">
    <tr><th>Name:</th><th>Total Spend:</th> </tr>
<% @category_name.each do |category| %>



  <tr><td><%= category.category_name %></td>
    <td>£<%= category.total_spend %></td>
    <td><a href="/categories/<%= category.id %>/edit">Edit Category:</a></td></tr>



  <% end %>
  </table>
