<form action="/categories" method="POST">

<label for="category-input">Name:</label>
<input id="category-input" type="text" name="name" placeholder="Enter category name">

<input class="btn btn--menu type="submit" value="Create Category">
</form>
