<p>Name: <%= @category.name %></p>
<p>Amount: £<%= @transaction.amount %></p>


<form class="" action="/categories/<%= @category.id %>/edit" method="get">
  <input class=""type="submit" name="" value="Edit Category">
