body {
  float: center;
  background: grey;
  background-size: 100%;
  color: black;
  font-family: georgia;
  padding: 50px;
  margin: 50px;
}


h1 {
  font-size: 1.8em;
  color: black;
  margin-bottom: 20px;
}
content {
  float: center;
}
